<header class="header">
  <nav class="nav nav--primary">
    <ul class="nav__menu">
      <li class="nav__item"><a class="nav__link" href="#foguera"><i class="fas fa-fire"></i> La Foguera</a></li>
      <li class="nav__item"><a class="nav__link" href="#soca"><i class="fas fa-tree"></i> Entrada de la Soca</a></li>
      <li class="nav__item"><a class="nav__link" href="#parells"><i class="fas fa-horse"></i> Els Parells</a></li>
      <li class="nav__item"><a class="nav__link" href="#pastes"><i class="fas fa-cookie-bite"></i> Les Pastes de Sant Antoni</a></li>
      <li class="nav__item"><a class="nav__link" href="#activitats"><i class="fas fa-champagne-glasses"></i> Actividades</a></li>
    </ul>
  </nav>
</header>